@font-face {
	font-family: 'Matahari';
	src: local('Matahari SemiBold'), local('Matahari-SemiBold'),
	   url('Matahari-600SemiBold/Matahari-600SemiBold.woff2') format('woff2'),
	    url('Matahari-600SemiBold/Matahari-600SemiBold.woff') format('woff'),
	    url('Matahari-600SemiBold/Matahari-600SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
      }
*{
	margin: 0;
	padding: 0;
	font-family: 'Matahari';
}
section{padding: 3rem 0;}
/*-------------HEADER---------------*/
.menu-lista{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 40px;
}
a{
	text-decoration: none;
	
}
li a:hover{
	color: #6ddad3;
}
.header-container{
	display: flex;
	color: white;
	background-color: #466286;
	align-items: center;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 15px 20px;
	gap: 20px;
	position:fixed;
}
.header-container h1{
	color: #6ddad3;
	font-weight: bolder;
	
}

#icone{
	max-width: 40px;
	max-height: 40px;
	gap:10px
}
.header-content{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}
.menu-lista a{
	color: white;
	font-weight: bold;
	cursor: pointer;

}
.header-content button{
	border-radius: 10px ;
	border: 1px solid #6ddad3;
	background-color: #466286;
	color: white;
	width: 70px;
	height: 40px;
	cursor: pointer;
}
.header-content button:hover{
	background-color: #6ddad3;
}
/*------------- MAIN ---------------*/
/*-------------INICIO---------------*/
.inicio{
	background: url(https://www.embraplan.com.br/imagens/noticias/48733d9a-dc6f-4d1a-9c17-40738e093547.jpg) no-repeat;
	background-size: cover;
	max-width: 100%;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px black;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 500px;
	grid-template-rows: 1fr;
	padding: 75px;

}
.fundo{
	background-color: white;
	height:70%;
	border-radius: 30px;
	padding:50px 50px 50px 50px;
	display: flex;
	flex-direction: column;
	color: #191f23;
	text-shadow: none;
	padding-left: 100px;
	font-size: 0.9em;
	margin: 70px 0px 16px;
	max-width: 700px;
}
.text{
	padding-top:100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.text p h1{
	font-size: 3.5rem;
    line-height: 4.25rem;
	font-weight: bold;
}
form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 20px;

}
form select{
	border-radius: 8px;
	width: auto;
	height: auto;
	padding: 12px;
	opacity: 0.5;
	color: #191f23;
	font-size: 1rem;
	line-height: 1.5rem;
	
}
form #city:hover{
	opacity: 1;
}
form button{
	display: flex;
	align-self: center;
	border-radius: 8px;
	font-size: 1rem;
	border: 1px solid #6ddad3;
	line-height: 1.5rem;
	background-color: #466286;
	color: white;
	width: 150px;
	height: 50px;
	text-align: center;
	
}
form button:hover{
	background-color: #6ddad3;
}
/*--------------SERVIÇOS----------------*/
.cards .grid{
	gap: 1.5rem;
}
.container{
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
.grid{
	display: grid;
	gap: 2rem;
}
.imagens-service{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:400px;
	gap: 60px;
	
}
.img1-service{
	margin-left: 30px;
	    margin-right: -30px;
}
.img1-price{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	justify-content: space-between;
}

.img2-service{
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.imagens-service img{
	border-radius: 10px;
}
#img2-service{
	width: 95%;
}
.ap{
	padding-left: 3rem;
	padding-right: 3rem;
}
.ap img{
	width: 100%;
}
.paragraph:not(:last-child):after{
		color: #879dac;
		margin: 4px 8px;
		content: "•";
}
/*--------------QUEM SOMOS--------------*/
.quem-somos{
	padding: 5rem 0;
}
h2{
	text-align: center;
	margin: 0px 0px 16px;
}
.sobre{
	margin-bottom: 2rem;
	text-align: center;
}
#quem-somos .texto{
	margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}
section .title{
	margin-bottom: 2rem;
	font-size: 3rem;
	line-height: 4.25rem;
}
.quem-somos h3{
	text-align: center;
	margin-top: 1rem;
}
/*-----------FALE CONOSCO-------------*/
#fale-conosco{

}
.dates{
	padding: 24px;
}
#fale-conosco .text p {
	margin-bottom: 2rem;
    }

/*---------FOOTER-------------*/
footer {
	width: 100vw;
	gap: 10px;
	/*max-width: 100%;*/
	margin:0 auto;
	padding: 15px 20px;
	background-color: #466286;
	display: flex;
	align-items: center;
	justify-content:space-between;
	color: white;
	}
.footer h1{
	color: #6ddad3;
	font-weight: bolder;
	margin-right: 380px;
}
.footer p{
	margin-right: 400px;
	align-items: center;
	text-align: center;
}
	.redes-sociais :hover {
        fill: #6ddad3;
    }

